.saturnus-container {
	height: 100vh;
	width: 100vw;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.saturnus-image {
	height: 240px;
	width: 470px;
}

.saturnus-text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}
